.header {
    background-color: SeaGreen;
    height: 260px;
    position: relative;
}

.header-title {
    color: white;
    font-size: 160%;
    position: absolute;
    top: 90px;
}

.header-img {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 10px;
    top: 5px;
}